<%- include('header') -%>

<h3>ABOUT</h3>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat
  praesentium, numquam autem magnam commodi optio accusamus maxime distinctio at
  amet harum iusto similique pariatur esse sint aperiam ducimus voluptatibus
  reiciendis delectus, vitae fuga eveniet! Illum tempora eligendi officiis
  dolore excepturi commodi ea? Suscipit sequi veritatis quos voluptates, aliquid
  officia saepe.
</p>

<%- include('footer') -%>
